@media (max-width: 1600px) {
    .fieldset {
        padding: 25px;
    }
    #code {
        padding: 10px;
    }
    .main-code {
        font-weight: 800;
    }
    .contacts-title {
        font-size: 20px;
    }
    .span-about-me {
        font-size: 16px;
    }
    .main-projects-link {
        font-size: 20px;
    }
    .main-education-list-item {
        font-size: 20px;
    }
    .main-language-list-item {
        font-size: 20px;
    }
}

@media (max-width: 1480px) {
    .main-code {
        font-size: 11px;
    }
    .span-about-me {
        font-size: 15px;
    }
}

@media (max-width: 1370px) {
    .contacts-title {
        font-size: 16px;
    }
    .contacts-link {
        font-size: 18px;
    }
    .main-code {
        font-size: 10px;
    }
    .span-about-me {
        font-size: 14px;
    }
}

@media (max-width: 1250px) {
    .main-code {
        font-size: 9px;
    }
    .span-about-me {
        font-size: 12px;
    }
    .main-projects-link {
        font-size: 18px;
    }
    .main-education-list-item {
        font-size: 18px;
    }
    .main-language-list-item {
        font-size: 18px;
    }
}