/* arapey-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/arapey-v16-latin-regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Arapey', sans-serif;
  background-color: #F9F2E8;
  background: linear-gradient(90deg, rgb(247, 243, 233) 74%, rgba(136, 178, 228, 0.59) 100%);
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrapper-max {
  width: calc(100vw - 10%);
  margin: 0 auto;
}

.wrapper-min {
  width: calc(100vw - 20%);
  margin: 0 auto;
}


/* Header style start */
.header {
  display: flex;
  margin-top: 20px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-list-item {
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  background-color: white;
  text-shadow: #ffcc00 1px 0 10px;
  list-style: none;
  transition: .3s;
}

.header-nav-list-item:hover {
  text-shadow: #2015b3 1px 0 10px;
}

/* Header style end */


/* Main style start*/
/* Look as fieldset, but not fieldset */
.fieldset {
  position: relative;
  border: 2px solid #aaa;
  border-radius: 30px;
  padding: 40px;
}

.legend {
  position: absolute;
  top: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin: -13px 0 0;
  padding: 0 3px;
  background-color: #f7f3e9;
}

/* Look as fieldset, but not fieldset */



.main {
  margin-top: 60px;
}

.main-img {
  width: 20%;
  border-radius: 50%;
}

.main-name-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-titles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.main-content-title {
  /* style background letters */
  font-size: 79px;
  background: url(../assets/img/fonts-h1.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.main-position-work-title {
  text-transform: uppercase;
  font-size: 30px;
  color: #5c5555
}

.main-info-content {
  display: flex;
  margin-top: 60px;
}

/* Main info left start */
.fieldset-left {
  min-height: 100%;
}

.main-info-left {
  flex-basis: 30%;
}

.skills-list {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
}

.skills-item {
  width: 85%;
  padding: 15px 30px;
  border: 4px solid #89a9cf;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  transition: .3s;
}

.skills-item:hover {
  width: 90%;
}

.skills-item-html,
.skills-item-css {
  background: linear-gradient(90deg, rgba(175, 201, 232, 1) 30%, rgba(246, 242, 231, 1) 30%);
}

.skills-item-html:hover,
.skills-item-css:hover {
  border: 4px solid #ffe787;
  background: linear-gradient(90deg, rgba(255, 231, 135, 1) 30%, rgba(246, 242, 231, 1) 30%);
}

.skills-item-js {
  background: linear-gradient(90deg, rgba(175, 201, 232, 1) 10%, rgba(246, 242, 231, 1) 10%);
}

.skills-item-js:hover {
  border: 4px solid #ffe787;
  background: linear-gradient(90deg, rgba(255, 231, 135, 1) 10%, rgba(246, 242, 231, 1) 10%);
}

.skills-item-angular:hover,
.skills-item-react:hover {
  border: 4px solid #ffe787;
}

.skills-item-git {
  background: linear-gradient(90deg, rgba(175, 201, 232, 1) 30%, rgba(246, 242, 231, 1) 30%);
}

.skills-item-git:hover {
  border: 4px solid #ffe787;
  background: linear-gradient(90deg, rgba(255, 231, 135, 1) 30%, rgba(246, 242, 231, 1) 30%);
}

.skills-item-eng {
  background: linear-gradient(90deg, rgba(175, 201, 232, 1) 60%, rgba(246, 242, 231, 1) 60%);
}

.skills-item-eng:hover {
  border: 4px solid #ffe787;
  background: linear-gradient(90deg, rgba(255, 231, 135, 1) 60%, rgba(246, 242, 231, 1) 60%);
}

/* Main info left end */

/* Main info right start */
.main-info-right {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  justify-content: space-around;
}

.fieldset-right {
  width: 40%;
  margin-bottom: 50px;
}

.fieldset-right:nth-child(5),
.fieldset-right:nth-child(6) {
  margin-bottom: 0;
}

/* Contacts block start */
.contacts-title {
  display: inline-block;
  margin: 0 10px 10px 0;
  font-size: 24px;
  font-weight: 500;
}

.contacts-link {
  font-size: 20px;
  text-shadow: #ffcc00 1px 0 10px;
  transition: .3s;
}

.contacts-link:hover {
  text-shadow: #2015b3 1px 0 10px;
}

/* Contacts block end */

/* About me block start */
.about-me-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.main-about-me {
  line-height: 2em;
  font-size: 18px;
}

/* About me block end */

/* Code block start */
.code {
  padding: 25px;
}

.main-code {
  font-size: 13px;
  line-height: 4em;
}

/* Code block end */

/* Projects block start */
.main-projects-list-item {
  text-shadow: #ffcc00 1px 0 10px;
  margin-bottom: 20px;
}

.main-projects-list-item:last-child {
  margin-bottom: 0px;
}

.main-projects-list-item:hover {
  text-shadow: #2015b3 1px 0 10px;
}

.main-projects-link {
  font-size: 24px;
  transition: .3s;
}

/* Projects block start */

.main-education-list-item {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5em;
}

.main-education-list-item:last-child {
  margin-bottom: 0;
}

.main-language-list-item {
  font-size: 24px;
  list-style: none;
  margin-bottom: 15px;
}

.main-language-list-item:last-child {
  margin-bottom: 0;
}

.language-level {
  font-size: 20px;
}

/* Main info right end */

/*  Main style end*/



/* Footer style start */
.footer {
  margin: 60px 5px 5px;
  height: 150px;
  border: 3px solid #aaa;
  border-radius: 30px;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22px 0 16px;
}

.footer-list-item {
  margin-right: 100px;
}

.footer-list-item:last-child {
  margin-right: 0;
}

.footer-list-item:nth-child(1) {
  margin-right: 5px;
}

.footer-copyright {
  margin-top: 10px;
  font-size: 50px;
}

.footer-year {
  font-size: 50px;
}

.img-github-logo {
  width: 100px;
}

.img-rsschool-logo {
  width: 100px;
}

/* Footer style end */


