* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  /* background-color: red; */
  background-image: url("../dddepth-317.jpg");
}
.canvas {
  margin: 0 auto;
}

.title {
  margin: 0 auto;
}
